div.page {
    width: auto;
    color: rgb(42, 42, 42);

}
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffff;
}
#head-left {
    font-family: Galyon;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
}

#content-1 {
    font-family: Sequel;
    text-align: center;
    line-height: 105px;
    font-size: 85px;
}

div.content2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    height: 50px;
}

#content-2 {
    width: 240px;
    height: 30px;
    font-family: Galyon;
    text-align: left;
    font-size: 15px;
}

#content-3 {
    width: 240px;
    height: 30px;
    font-family: Galyon;
    text-align: right;
    font-size: 15px;
}

div.best-seller {
    width: 825px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

div.best-seller-title {
    width: 825px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bs2 {
    height: 45px;
    font-family: Galyon;
    font-size: 15px;
    width: 265px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(42, 42, 42);
}

#bs3 {
    height: 45px;
    font-family: Galyon;
    font-size: 15px;
    width: 405px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(42, 42, 42);
}

div.fashion {
    width: 825px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

div.footer {
    margin-top: 65px;
    width: 100%;
    height: 100%;
    background-color: black;
}

#footer2 {
    margin-top: 10px;
    width: 90%;
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-family: Galyon;
}