#menu {
    background-color: white;
}

.product-img {
    width: 450px;
    height: 560px;
}

.mybtn {
    position: absolute;
    right: 3px;
    bottom: 3px;
    display: none;
    width: 444px;
    height: 50px;
    border: none;
    background-color: white;
}

.btnn {
    width: 100%;
    height: 100%;
    border: none;
    background-color: inherit;
    z-index: 1;
    font-size: 14px;
    letter-spacing: 1px;
}

ul {
    font-size: 14px;
    letter-spacing: 1px;
    display: none;
    width: 90%;
    height: 100%;
    justify-content: space-around;
    list-style: none;
    z-index: 1;
    position: absolute;
    align-items: center;
}

#product:hover .mybtn {
    display: block;
}

.mybtn:hover .btnn {
    display: none;
}

.mybtn:hover ul {
    display: flex !important;
}

.text-color {
    color: rgb(89, 92, 95);
    font-size: 14px;
    letter-spacing: 1px;
    height: 14px;
}

.color {
    display: none;
    height: 14px;
    gap: 5px;
}

#product:hover .color {
    display: flex;
}

#product:hover .text-color {
    display: none;
}
#heart2{
    display: none;
}
#heart:hover #heart1{
    display: none;
}
#heart:hover #heart2{
    display: block;
}