@font-face {
    font-family: SoinSans;
    src: url(fonts/Soin\ Sans\ Neue.otf);
  }

  @font-face {
    font-family: Chivo;
    src: url(fonts/ChivoMono-Regular.ttf);
  }

  body {
    font-family: SoinSans;
    width: 100%;
    height: 100%;
  }