div.page {
    /* width: 895px; */
    color: rgb(42, 42, 42);
}

div.head1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 825px;
}

#head-left {
    font-family: Galyon;
    font-size: 12px;
}

div.content1 {
    display: flex;
    justify-content: center;
    height: 130px;
    width: 825px;
    border-top: 2px solid rgb(42, 42, 42);
    border-bottom: 2px solid rgb(42, 42, 42);
}

#content-1 {
    font-family: Sequel;
    text-align: center;
    line-height: 105px;
    font-size: 85px;
}

div.content2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    height: 50px;
    width: 825px;
}

#content-2 {
    width: 240px;
    height: 30px;
    font-family: Galyon;
    text-align: left;
    font-size: 15px;
}

#content-3 {
    width: 240px;
    height: 30px;
    font-family: Galyon;
    text-align: right;
    font-size: 15px;
}

div.best-seller {
    width: 825px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

div.best-seller-title {
    width: 825px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bs2 {
    height: 45px;
    font-family: Galyon;
    font-size: 15px;
    width: 265px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(42, 42, 42);
}

#bs3 {
    height: 45px;
    font-family: Galyon;
    font-size: 15px;
    width: 405px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(42, 42, 42);
}

div.fashion {
    width: 825px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

div.footer {
    margin-top: 65px;
    width: 895px;
    height: 340px;
    background-color: black;
}

div.footer1 {
    color: #ffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.footer2 {
    margin-top: 10px;
    width: 825px;
    color: rgb(135, 135, 135);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-family: Galyon;
}